@import "vendor.less";

@m: ~ "(max-width: 767px)";
@d: ~ "(min-width: 1080px)";

@orange: #f57c20;

.lcw {
	margin: 0 auto;		
	@media @m {
		width: 100%;
		padding: 0 15px;
	}
	@media @d {
		width: 1080px;
	}
}

* {
	box-sizing: border-box;
}

.col {
	display: inline-block;
	vertical-align: top;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #4c4c4c;
}

h1, h2, h3, h4, h5, h6 {	
	font-family: 'Open Sans Condensed', sans-serif;
}

.site {
	&-header {		
		&__wrapper {
			background: #151516;		
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			flex-basis: 25%;
			height: 110px;
			text-align: center;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #5b5b62;
			@media @m {
				flex-basis: 100%;
			}
		}
	}
	&-content {
		
	}
	&-footer {		
		&__wrapper {
			background: #000;
		}
	}	
}

.mail {
	font-size: 24px;
	color: @orange;	
	text-decoration: none;
	transition: .3s;
	font-weight: bold;
	&:active {
		color: lighten(@orange, 10%);
	}
	&:hover {
		color: lighten(@orange, 10%);
	}
	&:focus {
		color: lighten(@orange, 10%);
	}
	&:visited {
		color: darken(@orange, 10%);
	}	
}

.tel {
	font-size: 24px;
	color: @orange;	
	text-decoration: none;
	transition: .3s;
	&:hover {
		color: lighten(@orange, 10%);
	}
}
.address {
	font-size: 12px;
	margin: 0;
	line-height: 30px;
}
.logo {
	height: 80px;
}


.section-header {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	padding: 30px 0;
}

.controls {
	font-size: 0;
	&__wrapper {
		padding: 0;
	}
	&__item {
		width: 33.333333%;
		display: inline-block;
		height: 600px;
		font-size: 16px;
		text-align: center;
		vertical-align: top;
		position: relative;
		text-align: center;
		background: no-repeat center;
		&:nth-child(1) {
			background-image: url(img/controls/bg/1.jpg);
		}
		&:nth-child(2) {
			background-image: url(img/controls/bg/2.jpg);
		}
		&:nth-child(3) {
			background-image: url(img/controls/bg/3.jpg);
		}		
		h2 {
			font-size: 48px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			margin: 0;
			line-height: 50px;
			height: 100px;
			width: 300px;
			margin: 0 auto 30px;
			transition: .3s;
			@media @m {
				font-size: 32px;
				line-height: 35px;
				height: 50px;
			}
		}
		button {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;			
			border: none;
			outline: none;
			box-shadow: none;
			background: none;
			transition: .3s;
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.50) 33%, rgba(0, 0, 0, 0.25) 66%, transparent);
			transition: .3s;
			@media @m {
				display: none;
			}
		}
		@media @m {
			width: 100%;
			height: 200px;
			padding: 15px;
		}
		&:nth-child(1) {
			.controls__img {
				background-image: url(img/controls/1.png);
			}
		}
		&:nth-child(2) {
			.controls__img {
				background-image: url(img/controls/2.png);
			}
		}
		&:nth-child(3) {
			.controls__img {
				background-image: url(img/controls/3.png);
			}
		}	
		&:hover {
			h2 {
				color: @orange;
			}
			button {
				opacity: 0;
			}
			&::before {
				opacity: 0;
			}
		}
	}
	&__img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: no-repeat center;
		display: inline-block;
		border: 2px solid #fff;
	}
	&__container {
		position: absolute;
		top: 200px;
		left: 0;
		width: 100%;
		@media @m {
			top: 30px;
		}
	}
}
.content {
	&__wrapper {
		padding: 0;
	}
	&__item {
		display: none;
		&--visible {
			display: block;
		}
	}
}

.adv {
	background: #fcf8e6;
	padding-top: 60px;
	&__con {
		padding: 0 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		text-align: center;
		display: inline-block;
		flex-basis: 19.777777%;
		height: 190px;
		background: @orange;
		padding-top: 30px;
		margin: 1px;
		p {
			margin: 0;
			color: #fff;
		}
		@media @m {
			flex-basis: 100%;
		}
		&:nth-child(1) {
			.adv__img {				
				background-position: calc(-200px*0) 0;
			}
		}
		&:nth-child(2) {
			.adv__img {				
				background-position: calc(-200px*1) 0;
			}
		}
		&:nth-child(3) {
			.adv__img {				
				background-position: calc(-200px*2) 0;
			}
		}
		&:nth-child(4) {
			.adv__img {				
				background-position: calc((-200px*3)-5) 0;
			}
		}
		&:nth-child(5) {
			.adv__img {				
				background-position: calc(-200px*4) 0;
			}
		}
		&:nth-child(6) {
			.adv__img {				
				background-position: calc(-200px*0) -200px;
			}
		}
		&:nth-child(7) {
			.adv__img {				
				background-position: calc(-200px*1) -200px;
			}
		}
		&:nth-child(8) {
			.adv__img {				
				background-position: calc(-200px*2) -200px;
			}
		}
		&:nth-child(9) {
			.adv__img {				
				background-position: calc(-200px*3) -200px;
			}
		}
		&:nth-child(10) {
			.adv__img {				
				background-position: calc(-200px*4) -200px;
			}
		}		
	}
	&__img {
		width: 100px;
		height: 100px;
		display: inline-block;
		background: url(img/advantages.png) no-repeat;
	}
}
.type {
	padding-top: 100px;
	margin-top: -100px;
	background: #151516;
	.section-header {
		color: #fff;
		font-weight: normal;
		span {
			color: @orange;
			font-weight: bold;
		}
	}
	.col {
		width: 49.8%;
		display: inline-block;
		padding: 15px;
		text-align: center;
		img {
			width: 100%;
		}
		h4 {
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			margin-bottom: 15px;
			color: @orange;
			font-size: 24px;
		}
		@media @m {
			width: 100%;
		}
	}	
	&__text {
		padding: 50px;
		font-size: 16px;
		line-height: 30px;
		color: #c3c3c4;
		@media @m {
			padding: 0;
			text-align: justify;
		}
	}
}
.mount {
	background: #b2cedc;
	min-height: 300px;
	padding: 50px 0;
	&__wrapper {		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;		
		background: #151516;
		//padding-left: 30px;
	}
	h3 {
		color: @orange;
		flex-basis: 100%;
	}
	&__container {
		height: 540px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 33%;
		position: relative;
	}
	&__item {
		width: 300px;
		height: 150px;
		margin: 5px auto;
		cursor: pointer;
		background: no-repeat center;
		background-size: contain;
		transition: transform 1s cubic-bezier(0.39, 0.58, 0.57, 1);	
		position: absolute;
		margin-top: -100px;
		top: 50%;
		left: 0;
		&:nth-child(1) {
			background-image: url(img/panel/1.png);
			top: 35%;
		}
		&:nth-child(2) {
			background-image: url(img/panel/2.png);
			top: 40%;
		}
		&:nth-child(3) {
			background-image: url(img/panel/3.png);
			top: 45%;
		}
		&:nth-child(4) {
			background-image: url(img/panel/4.png);
			top: 50%;
		}
		&:nth-child(5) {
			background-image: url(img/panel/5.png);
			top: 55%;
		}
		&:nth-child(6) {
			background-image: url(img/panel/6.png);
			top: 60%;
		}
		&:nth-child(7) {
			background-image: url(img/panel/7.png);
			top: 65%;
		}
		
		&.active {
			opacity: .8;
		}
	}
	.descr {
		width: 65%;
		display: inline-block;
		vertical-align: top;
		&__item {
			display: none;
			&--visible {
				display: block;
			}
		}
	}
}
.filler {
	padding-bottom: 60px;
	background: #fff;
	&__con {
		text-align: center;
	}
	&__item {
		width: 200px;
		height: 200px;
		background: no-repeat center;
		display: inline-block;
		margin: 0 15px;
		&:nth-child(1) {
			background-image: url(img/filler/1.png);
		}
		&:nth-child(2) {
			background-image: url(img/filler/2.png);
		}
		
	}
}
.delivery {
	background: #151516;
	h3 {
		color: #fff;
	}
}
.request {
	background: @orange;
	h3 {
		color: #fff;
	}	
}
.about {
	&__wrapper {
		padding: 0 50px;
		background: #fcf8e6;
		@media @m {
			padding: 0 15px;
		}
	}
	.col {
		&--left {
			width: 65.88%;
			padding-right: 30px;
			@media @m {
				width: 100%;
				padding-right: 0;
			}
		}
		&--right {
			width: 33%;
		}
	}
	&__text {
		p {
			margin: 0;
			margin-bottom: 30px;
		}
	}
}
.address {
	&__wrapper {
		background: #fff;
	}
}
.map-container {
	&__wrapper {
		padding: 0;
	}
}
.map {
	height: 360px;
	background: #eee;
}